.app-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #80808014;
    outline: 1px solid #ffffff0e;
    padding: 10px ; /* Set vertical padding to 10px and horizontal padding to 0 */
    margin: -10px 0 10px 0; /* Set vertical margin to -10px and horizontal margin to 0 */
    margin-left: 250px;
}


.route-icon{
    margin-right: 10px;
}

.right-side,
.left-side {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-info svg {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 10px;
}

.user-info span {
    font-weight: bold;
}

.feed-actions{
    margin-left: 30px;
    background-color: #80808014;
    padding: 5px;

}

.feed-actions button {
    margin-right: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    outline: transparent;
    transition: background-color 0.3s ease;
    color: white;
}

.feed-actions button:hover {
    color: #1d64f2;
    cursor: pointer;
}


.feed-dm{
    margin-right:30px;
}

.feed-dm svg {
    width: 20px;
    height: 20px;
}
.direct-message {
    margin-right: 10px;
}